.container {
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    width: 960px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;

    flex-direction: row;
}